*.ipynb
*.jld2
.vscode
*.EPS
.ipynb_checkpoints
package.jl
test.jl
test.py
test.txt
download_data\build_kp_format.py
download_data\修改文件树.py
download_data\download.log
load_data\MAVEN_data_filename_lists.json
Bspline.dll
linear_growth_rate.dll
download.log
download_data/修改文件树.py
download_data/build_kp_format.py
# download_data/get_download_files.py
load_data/MAVEN_data_filename_lists.json
download_data/MAVEN_download_config.ini
MAVEN_data/filename_lists.json
Magnetic_Model/test_igrf.jl
Magnetic_Model/mars_surface_mag.png
*~
example/MAVEN_plot_sample/*.png
download_data/download_heads.json
